* {
  margin: 0px;
}
@media screen and (max-width: 750px) and (min-width: 400px) {
  .form-inline {
    flex-wrap: nowrap;
  }
  .logo {
    display: none;
  }
  .mr-sm-2 {
    width: 120px;
  }
  .rStar {
    display: flex;
    flex-direction: column;
  }
  .reset-btn {
    padding: 0px;
  }

  .searchStars {
    margin: auto;
    justify-content: center;
  }
  .reset-btn {
    padding: 0px 100px;
    justify-content: center;
  }
  .search {
    display: block;
  }
}
@media screen and (max-width: 400px) {
  .navbar {
    height: 90px;
    padding: 10px;
  }
  .logo {
    display: none;
  }
  .form-inline {
    flex-wrap: nowrap;
  }
  .mr-sm-2 {
    width: 120px;
  }

  .rStar {
    display: flex;
    flex-direction: column;
  }

  .searchStars {
    margin: auto;
    justify-content: center;
  }
  .reset-btn {
    padding: 0px 100px;
    justify-content: center;
  }
}
.App {
  display: flex;
  flex-direction: column;
}
.navBar {
  position: fixed;
  z-index: 100;
  justify-content: center;
  width: 100%;
  margin: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.logo img {
  width: 40px;
}
.logo h2 {
  margin: 3px;
  padding: 2px;
  font-family: fantasy;
}
.rStar {
  margin: auto;
  display: flex;
  justify-content: center;
}
.searchStars {
  padding: 5px;
}

.reset-btn {
  padding: 5px;
}
.search {
  display: flex;
}

.movielist {
  display: flex;
  flex-wrap: wrap;
  margin: 100px 50px;
  justify-content: center;
}
.movie {
  margin: 20px 30px;
}
.movie:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.movie button {
  float: right;
}
.movie-card {
  width: 15rem;
  height: 22rem;
  position: relative;
  overflow: hidden;
}

.overview {
  padding: 0.5rem;
  background: linear-gradient(transparent, rgb(0, 0, 0), rgb(15, 15, 15));
  height: 9rem;
  opacity: 0.9;
  position: absolute;
  width: 15rem;
  transform: translateY(100%);
  bottom: 0;
  top: auto;
  transition: all 0.5s;
}
.movie-card:hover .overview {
  transform: translateY(0%);
}
.overview button {
  position: absolute;
  bottom: 1em;
  right: 1rem;
}
